@model IEnumerable<ENTBarCodeAPI.Models.Barcode>

@{
    ViewBag.Title = "BARCODE SOLUTIONS";
}
<h2>BARCODE SOLUTIONS</h2>

@if (TempData["InfoMessage"] != null)
{
    <div class="alert alert-info">
        <strong>Info! : </strong> @TempData["infoMessage"]
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span>X</span>
        </button>
    </div>
}
else if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">
        <strong>Success! : </strong> @TempData["SuccessMessage"]
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span>X</span>
        </button>
    </div>
}
else if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">
        <strong>Error! : </strong> @TempData["ErrorMessage"]
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span>X</span>
        </button>
    </div>
}

<p>
    @Html.ActionLink("Create BarCode", "Create", null, new { @class = "btn btn-primary" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BarcodeInitial)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BarcodeDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BarcodePackNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BarcodeCreatedDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BarcodeActive)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BarcodeInitial)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BarcodeDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BarcodePackNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BarcodeCreatedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BarcodeActive)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.BarcodeId }, new { @class = "btn btn-primary" })
                @Html.ActionLink("Details", "Details", new { id = item.BarcodeId }, new { @class = "btn btn-success" })
                @Html.ActionLink("Delete", "Delete", new { id = item.BarcodeId }, new { @class = "btn btn-danger" })
            </td>
        </tr>
    }

</table>
